@import 'variables';

@keyframes fadeInRightMedium {
    from {
        transform: translate3d(750px, 0, 0);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes burn {
    0% { text-shadow: -.1em 0 .3em $ember-1, .1em -.1em .3em $ember-2, -.2em -.2em .4em $ember-3, .2em -.3em .3em $ember-4, -.2em -.4em .4em $ember-5, .1em -.5em .7em $ember-6, .1em -.7em .7em $ember-7; }
    45% { text-shadow: .1em -.2em .5em $ember-1, .15em 0 .4em $ember-2, -.1em -.25em .5em $ember-3, .15em -.45em .5em $ember-4, -.1em -.5em .6em $ember-5, 0 -.8em .6em $ember-6, .2em -1em .8em $ember-7; }
    70% { text-shadow: -.1em 0 .3em $ember-1, .1em -.1em .3em $ember-2, -.2em -.2em .6em $ember-3, .2em -.3em .4em $ember-4, -.2em -.4em .7em $ember-5, .1em -.5em .7em $ember-6, .1em -.7em .9em $ember-7; }
    100% { text-shadow: -.1em -.2em .6em $ember-1, -.15em 0 .6em $ember-2, .1em -.25em .6em $ember-3, -.15em -.45em .5em $ember-4, .1em -.5em .6em $ember-5, 0 -.8em .6em $ember-6, -.2em -1em .8em $ember-7; }
}
