.reveal {
    opacity: 0;
    z-index: -1;

    &.OPEN {
        opacity: 1;
        z-index: 1;
    }
}

.reveal ul {
    position: relative;
    padding: 0;
}

.reveal li {
    transition: opacity .5s;
    opacity: 0;
    list-style: none;
}

.reveal li.OPEN {
    opacity: 1;
}
